{% extends "GuestBookBundle::layout.html.twig" %}

{% block title "Atricle - User" %}

{% block content %}
    <h1 class="title">User <q>{% if user.name %}{{ user.name }}{% else %}{{ user.email }}{% endif %}</q></h1>

    {{ knp_pagination_render(pagination) }}

    <ul>
        {% for article in pagination %}
            <li>
                <a href="{{ path('_article', {'id': article.id}) }}" class="article-title">Article #{{ article.id }}</a>
                <ul>
                    <li>
                        <a href="{{ path('_article_remove', {'id': article.id}) }}" class="remove-article">Remove article</a>
                    </li>
                    {#<li>
                        <a href="{{ path('_article_edit', {'id': article.id}) }}" class="edit-article">Edit article</a>
                    </li>#}
                </ul>
                <p>{{ article.content|slice(0, 100) }}</p>
            </li>
        {% endfor %}
    </ul>

    {{ knp_pagination_render(pagination) }}

{% endblock %}