{% extends "AcmeHomeWorkBundle::layout.html.twig" %}

{% block title "Atricle - User" %}
{% block user user %}

{% block content %}
    <h1 class="title">{{ page.title }}</h1>
    <div>{{ page.description }}</div>

    <h2>User profile</h2>
    {% image '@AcmeHomeWorkBundle/Resources/public/images/user-logo.png' %}
        <img src="{{ asset_url }}" alt="User logo" title="Usr logo">
    {% endimage %}
    <ul>
        <li>
            <strong>Nickname: </strong>{{ user.nickName }}
        </li>
        <li>
            <strong>Display name: </strong>{{ user.displayName }}
        </li>
        <li>
            <strong>Register date: </strong>{{ user.registerDate|date('d/m/Y') }}
        </li>
    </ul>
{% endblock %}