{% extends "AcmeHomeWorkBundle::layout.html.twig" %}

{% block title "Atricle - " ~ article.title %}
{% block user user %}

{% block content %}
    <h1 class="title">{{ article.title }}</h1>

    <p class="article-created">{{ article.createAt|date("d/m/Y h:m:s") }}</p>
    <p class="author"><b>Author:</b> {{ article.user.displayName }} ({{ article.user.nick }})</p>
    <p><b>Category: </b><a href="{{ path('_category', {'id':article.category.id }) }}">{{ article.category.title }}</a></p>
    <div class="article-content">{{ article.content }}</div>
    {% if article.tags %}
        <div>
            <b>Tags: </b>
            {% for tag in article.tags %}
                <a href="{{ path('_tag', {'id': tag.id}) }}">{{ tag.text }}</a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}